@import "tailwindcss";


@theme {
  --color-ms-azul: #003153;

  /* 1. Definimos los keyframes (los pasos de la animación) */
  @keyframes bounce-x {
    0%, 100% {
      transform: translateX(-3%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: translateX(3%);
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }

  /* 2. Creamos la clase de animación vinculada a esos keyframes */
  --animate-bounce-x: bounce-x 1.5s infinite;
}

@layer components {
  .admin-label {
    @apply block text-[10px] font-black text-slate-400 uppercase mb-2 tracking-wider;
  }
  
  .admin-input {
    @apply w-full p-4 bg-slate-50 rounded-2xl border border-slate-200 focus:border-blue-500 focus:bg-white focus:ring-4 focus:ring-blue-500/10 transition-all outline-none text-slate-700 font-medium ;
  }
}
html {
  scroll-behavior: smooth;
}
